
:root {

/*Day Themes*/ /*Night Themes*/
--nav-color: /*#4747FF*/ #00008F;
--main-splash-color: /*#00a4b6*/#3A3370;
--primary-backround-color: /*#ffffff*/ #E5E5E5;
--secondary-backround-color:/* #E5E5E5*/ #292929;
--secondary-text-color: /*#212121*/ #E5E5E5;

/*Neutral Themes*/
--very-dark-background-color: #494949;
--primary-text-color: #212121;
--white-primary-color: #FFFFFF;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #FFFFFF;
	margin: 0;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

#navbar {
	/*position: fixed;*/
	top: 0;
	left: 0;
	background: var(--nav-color);
	display: flex;
	width: 100%;
}

#theme-switcher {
	width: 2.75em;
	height: 2.75em;
	border-radius: 50%;
	position: fixed;
	bottom:1em;
	left: 1em;
	border: 1px solid var(--white-primary-color);
	background: lightgrey;
/*	transform: rotate(-40deg);*/
	font-size: 1.25em;
	font-kerning: 0;
	background: var(--nav-color);
	color: var(--white-primary-color);
}

#theme-switcher hr {
	padding: 0;
	margin: 0;
}

#theme-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

#navbar ul {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	box-shadow: 1px 0 1px 1px black;
	padding:0;
}

nav li {
	list-style: none;
	display: flex;
	flex-direction: row;
}

nav a {
	font-size: 1.25em;
	padding: .5em 0;
	text-decoration: none;
	color: var(--white-primary-color);
	text-align: center;
}

section {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/******************
BEGIN WELCOME
******************/

main {
	display: flex;
	flex-direction: column;
}

#welcome-section {
	background: var(--main-splash-color);
	height: 100vh;
	color: var(--white-primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 4em;
	margin: 0;
	text-align: center;
}

#welcome-tagline {
	/*font-style: italic;*/
	/*font-weight: 400;*/
}

#profile-pic {
	border: 1px solid black;
	border-radius: 50%;
}

#about-me {
	background: var(--secondary-backround-color);
	color: var(--secondary-text-color);
	grid-area: about-me;
}

/******************
END Welcome
******************/
/******************
BEGIN GALLERY
******************/

#projects {
	display: flex;
	flex-direction: column;
	background: var(--primary-backround-color);
	color: var(--primary-text-color);
	text-align: center;
	padding: 10px 20px;
	/*min-height: 850px;*/
	grid-area: projects;
}

#gallery {
	/*min-height: 35vh;*/
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	width: 100%;
	padding: 0;
	grid-gap: 20px;
}

#gallery a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.project-tile {
	background: var(--secondary-backround-color);
	border-radius: 8px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	line-height: 2em;
	color: var(--secondary-text-color);
}


.project-tile img {
	width: 300px;
	border-radius: 5px;
}


/******************
END GALLERY
******************/

/******************
BEGIN FOOTER
******************/
#tech-social, footer, #tech-social a{
	background: var(--very-dark-background-color);
	color: var(--white-primary-color);
}

#tech-social {
	/*height: 60px;*/
	grid-area: tech-social;
	font-size: .75em;
}

#tech-social p {
	font-size: 1.25em;
}

#tech-social #link-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#tech-social li {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
}

#link-list a {
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	height: 100%;
	text-align: center;
	font-size: 0.8em;
	grid-area: footer;
}

/******************
END FOOTER
******************/

/******************
BEGIN RESPONSIVE
******************/

#gallery {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/*688px*/
@media (min-width: 42em)  {

	#gallery {
	grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
	}

	nav a {
		font-size: 1.25em;
		padding: 1.5em;
	}

	h1 {
		font-size: 3em;
	}

	footer {
		font-size: 0.8em;
	}

}


/*992px*/
@media (min-width: 62em) {
	

	h1 {
		font-size: 3em;
	}
	
	/*at this size about me section is already visible so hide this link*/
	#navbar ul {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		box-shadow: 1px 0 1px 1px black;
		padding:0;
	}

	#nav-about-me {
		display: none;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat();
		grid-template-areas: 
		"welcome about-me"
		"projects projects"
		"tech-social tech-social"
		"footer footer"
		;
	}
	#gallery {
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	}
}


























