
:root {

/*Day Themes*/ /*Night Themes*/
--nav-color: #4747FF /*#00008F*/;
--main-splash-color: #21BFD4 /*#3A3370*/;
--primary-backround-color: #ffffff /*#E5E5E5*/;
--primary-text-color: #212121;
--secondary-backround-color: #E5E5E5 /*#292929*/;
--secondary-text-color: #212121 /*#E5E5E5*/;

/*Neutral Themes*/
--very-dark-background-color: #494949;
--text-primary-color: #FFFFFF;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #FFFFFF;
	margin: 0;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: var(--nav-color);
	display: flex;
	width: 100%;
}

#navbar ul {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	box-shadow: 1px 0 1px 1px black;
}

nav li {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

nav a {
	font-size: 20px;
	padding: 20px;
	text-decoration: none;
	color: var(--text-primary-color);
}

section {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/******************
BEGIN WELCOME
******************/

main {
	display: flex;
	flex-direction: column;
}

#welcome-section {
	background: var(--main-splash-color);
	height: 100vh;
	color: var(--text-primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 45px;
	margin: 0;
}

#welcome-tagline {
	/*font-style: italic;*/
	font-weight: 200;
}


#about-me {
	background: var(--secondary-backround-color);
	color: var(--secondary-text-color);
}

/******************
END Welcome
******************/
/******************
BEGIN GALLERY
******************/

#projects {
	display: flex;
	flex-direction: column;
	background: var(--primary-backround-color);
	color: var(--primary-text-color);
	text-align: center;
	padding: 10px 20px;
	min-height: 850px;
}

#gallery {
	/*min-height: 35vh;*/
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	width: 100%;
	padding: 0;
	grid-gap: 20px;
}

#gallery a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.project-tile {
	background: var(--secondary-backround-color);
	border-radius: 8px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	line-height: 2em;
	color: var(--secondary-text-color);
}


.project-tile img {
	width: 300px;
	border-radius: 5px;
}


/******************
END GALLERY
******************/

/******************
BEGIN FOOTER
******************/
#contact-me, footer, #contact-me a{
	background: var(--very-dark-background-color);
	color: var(--text-primary-color);
}

#contact-me {
	height: 60px;
}

#contact-me #link-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#contact-me li {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
}

#link-list a {
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	height: 100%;
	text-align: center;
	font-size: 12px;
}

/******************
END FOOTER
******************/

/******************
BEGIN RESPONSIVE
******************/

@media (max-width: 1000px) {
	#gallery {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
}